.title {
    text-align: center;
 }
 
 .logo {
    
    height: 100px;
    width: 100px;
    position: absolute;
    
 }
 
 img{
    width: 550px;
    height: 300px;
 }
 
 footer{
    position: fixed;  
 left: 10px;  
 bottom: 5px;  
 right: 10px;   
 width: 100%;  
 background-color: rgb(3, 42, 54);  
 color: white;  
 text-align: center;  
   
 }
 
 .img:hover{
    filter: grayscale(100%);
 }
 
 
 nav {
    background-color: rgb(16, 211, 211);
    
    left: 10px;
    top: 5px;
    right: 10px;
    width: 100%;
    padding: 50px, 50px;
    align-items: top;
    text-align: right;
    
 }
 
 .home:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(34, 185, 102);
 }
 
 .tour:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(184, 196, 26);
 }
 
 .Rediscovery:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(216, 99, 21);
 }
 
 .Cruise:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(245, 77, 65);
 }
 
 .Contact:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(204, 104, 243);
 }
 
 .nav {
    
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }
 
 .bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
 }
 
 body {
    padding: 1%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
 
 * {
    box-sizing: border-box;
 }
 
 .left,
 .right,
 .center {
    float: center;
    width: 40%;
    color: white;
    padding: 10px;
    height: 500px;
    text-align: center;
 }
 
 .left {
    background-color: tomato;
 }
 
 .right {
    background-color: teal;
 }
 
 .center {
    float: center;
    background-color: rgb(166, 71, 255);
 }
 
 .container:after {
    clear: both;
 }
 
 .dropdown{
    color: rgb(16, 19, 211);
    font-size: 18px;
    background-color: rgba(16,211,211);
    display: inline-block;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .drpdw-content{
    display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
 }
 .dropdown:hover .drpdw-content {
    display: block;
  }